<div class="breadcrumbs">
	<h6>
		<a href="<%= url_for('/') %>">Home</a>
		<span class="partition">|</span>
		<a href="<%= url_for(config.archive_dir) %>/<%= post.date.year() %>">
			<%= post.date.year() %>
		</a>
		<span class="partition">|</span>
		<span><%= post.title %></span>
	</h6>
</div>